@page
@model EducationModel
@{
    ViewData["Title"] = "Education";
}

<div class="container py-5">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1 class="mb-5">@ViewData["Title"]</h1>

            <div class="education-item">
                <h4 class="mb-3">B.S. Computer Science</h4>
                <p class="mb-0 text-muted">George Mason University, Fairfax, VA</p>
            </div>
        </div>
    </div>
</div>
