# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy ASP.Net Core app to Azure Web App - monicarivera-portfolio-demo

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'

      - name: Restore dependencies
        working-directory: PortfolioDemo
        run: dotnet restore

      - name: Build with dotnet
        working-directory: PortfolioDemo
        run: dotnet build --configuration Release --no-restore

      - name: dotnet publish
        working-directory: PortfolioDemo
        run: dotnet publish -c Release -o ./publish

      - name: Zip publish output
        working-directory: PortfolioDemo
        run: |
          if (Test-Path ..\publish.zip) { Remove-Item ..\publish.zip -Force }
          Compress-Archive -Path .\publish\* -DestinationPath ..\publish.zip

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: dotnet-app
          path: PortfolioDemo/publish.zip

  deploy:
    runs-on: windows-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: dotnet-app

      - name: List downloaded artifact (debug)
        run: dir -Recurse dotnet-app

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID }}
          client-secret: ${{ secrets.AZUREAPPSERVICE_CLIENTSECRET }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'monicarivera-portfolio-demo'
          slot-name: 'Production'
          package: ./dotnet-app/PortfolioDemo/publish.zip